<template>
  <div class="search-input">
    <input class="input" v-model="q" @keydown.enter="update" />
    <button class="button" @click="update">
      <i class="icon fas fa-search"></i>
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      q: "",
    }
  },
  methods: {
    update() {
      this.$emit("input", this.q)
    },
  },
}
</script>

<style scoped>
.search-input {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
}
.input {
  width: 100%;
  border: none;
  padding: 4px 8px;
}
.input:focus {
  outline-width: 1px;
}
.button {
  border: none;
  padding: 4px 8px;
  border-left: 1px solid rgb(222, 222, 222);
  background-color: rgb(202, 202, 202);
}
.button:focus {
  outline: none;
}
</style>
