<template>
  <div>
    <h1>Search</h1>
    <search-input class="mt-12" v-model="q" @input="reload"></search-input>
    <profession-index class="mt-12" :q="q" :key="`profession-${index}`"></profession-index>
    <course-index class="mt-12" :q="q" :key="`course-${index}`"></course-index>
  </div>
</template>

<script>
import ProfessionIndex from "@/components/ProfessionIndex"
import CourseIndex from "@/components/CourseIndex"

export default {
  components: {
    ProfessionIndex,
    CourseIndex,
  },
  data() {
    return {
      q: "",
      index: 0,
    }
  },
  methods: {
    reload() {
      this.index++
    },
  },
}
</script>

<style scoped>
.mt-12 {
  margin-top: 12px;
}
</style>
